DB_HOST=localhost
DB_PORT=5432
Account_DB_NAME=account_db
Playlog_DB_NAME=playlog_db
DB_USER=your_username
DB_PASSWORD=your_password
JWT_SECRET=your_jwt_secret
IGDB_CLIENT_ID=your_igdb_client_id
IGDB_CLIENT_SECRET=your_igdb_client_secret